---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include meeting90/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    爱看书的程序员
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/meeting90">meeting90 · GitHub</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-weibo"></i> <span>我的微博</span></td>
        <td><a href="http://weibo.com/u/1594293110">meeting90 - 新浪微博</a> </td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:mzyuan90@gmail.com">mzyuan90 · Gmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include meeting90/comments %}
